/*Home page background image*/
#home-image  {
background: url("../img/valley_forge.jpg") no-repeat center;
}
#home-text {
  color: white;
  text-align: center;
}
/* HEADER CODE ALL PAGES*/
ul.nav-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.nav-header li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
  color: #000;
}

.active {
  background-color: #4CAF50;
}
/*Footer on all pages*/
footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  color: white;
}

footer p {
  display: inline;
  margin: 0 30px;
  line-height: 2em;
}
/* clear body of site from header(fixed) and footer(fixed) look for other solutuo*/
body {
  margin-top: 80px;
  margin-bottom: 80px;
}

/*iamges on hobby page*/
.hobby {
  /*width: 90%;*/
  height: 40%;
  width: 40%;
  margin: 0 auto;
}

.hobby img {
  max-width: 100%;
  max-height: 100%;
}
/*boxed and images on contact page*/
.contact-box {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 16em;
  margin: 0 auto;
}

.contact-box img {
	display: block;
	margin: 0 auto;
  width: 200px;
  height: 200px;
}

.contact-box figcaption{
	text-align: center
}

.contact-box .left {
  float: left;
}

.contact-box .right {
  float: right;
}
/* javascript created elements styling*/
#skillList li {
  list-style-type: none;
  text-align: center;
}


/*media query portion*/

@media screen and (max-width: 992px) {
  .contact-box {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact-box {
    float: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  footer p {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .contact-box {
    float: none;
    width: 100%;
    color: red;
  }
  /* change header to burger menu on smaller screens */
  .burger {
    display: block;
    width: 3em;
    height: 3em;
    margin: 4px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
  }
  .burger>span {
    display: block;
    background-color: white;
    width: 50px;
    height: 0.5em;
    border-radius: 5px;
  }
  .burger>span:nth-child(2) {
    margin: 4px 0;
  }
  ul.nav-header {
    display: none;
  }
  footer p {
    display: block;
  }
}
